body {
  font-family: "Avenir Next", sans-serif;
  background: $bcg;
  font-size: $base-font-size;
}

.container {
  max-width: 90%;
  margin: 3rem auto 0;
}


.result {
  list-style-type: none;
  max-width: 30rem;
  padding: 0;
  margin: 2rem auto 0;
}

.grid {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1%;
  background-color: black;

  &:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    background-size: contain;
  }
}

.main-title {
  max-width: 30rem;
  margin: 0 auto 1rem;
  font-size: 4rem;
}

/*  .main-title_item--o {
    color: $yellow;
  }
  .main-title_item--x {
    color: $red;
  }*/
.main-title_item {
  color: $light-grey;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the grid visible */

.grid > * {
  background: rgba(0, 0, 0, 0.1);
}


.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: $grid_item;

  &:before {
    content: "";
    display: flex;
    width: 80%;
    height: 100%;
  }

}

.grid__item--bigger {
  &:before {
    transform: scale(1.2);
  }

}

.js .grid__item:hover:before {
  background: center center no-repeat url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzcuM3B4IgoJIGhlaWdodD0iMjYuM3B4IiB2aWV3Qm94PSIwIDAgMzcuMyAyNi4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNy4zIDI2LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjBEQjRGO30KPC9zdHlsZT4KPGRlZnM+CjwvZGVmcz4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzEuMSw2LjljLTAuOS0yLjctNC44LTIuNy01LjUtMC41Yy0wLjcsMi4yLDEuOCwzLjYsNS43LDQuOWMzLjksMS4zLDYuNCw0LjgsNS45LDcuOQoJCWMtMC41LDMuMS0xLjgsNy4xLTkuNSw3LjFjLTQuOSwwLTcuNS0zLTguOS01LjNsNC40LTIuNmMwLDAsMS41LDMuMiw0LjMsMy4yYzIuOCwwLDMuOS0wLjksMy45LTMuMWMwLTIuNi05LjEtMy42LTEwLjUtOAoJCVMyMS40LTAuNCwyOCwwYzQuMSwwLjMsNi40LDIuMyw3LjUsMy44TDMxLjEsNi45eiIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLjgsMC41YzAsMCwwLDE1LjgsMCwxOGMwLDIuMi0xLjksMy4zLTMuNywyLjljLTEuOS0wLjQtMi43LTIuNi0yLjctMi42TDAsMjEuNmMwLDAsMC45LDQuMyw2LjgsNC43CgkJYzUuOSwwLjQsOS4zLTMuMiw5LjMtNi4yczAtMTkuNiwwLTE5LjZMMTAuOCwwLjVMMTAuOCwwLjV6Ii8+CjwvZz4KPC9zdmc+Cg==");
  background-size: contain;
  opacity: 0.4;
}

.love .grid__item:hover:before {
  background: center center no-repeat url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0U3NEMzQzt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00Niw3LjFjLTIuNS0yLjgtNi4yLTQuMy0xMC00LjNjLTIuOSwwLTUuNiwwLjktNy45LDIuN2MtMS4xLDAuOS0yLjMsMi0zLjIsMy4zYy0wLjktMS4zLTItMi40LTMuMi0zLjMKCWMtMi4zLTEuOC00LjktMi43LTcuOS0yLjdjLTMuOSwwLTcuNSwxLjUtMTAsNC4zcy0zLjksNi42LTMuOSwxMC42YzAsNC4yLDEuNSw4LjEsNC45LDEyLjJjMywzLjcsNy4zLDcuMywxMi40LDExLjYKCWMxLjgsMS41LDMuNywzLjIsNS43LDQuOWMwLjUsMC41LDEuMywwLjgsMS45LDAuOGMwLjgsMCwxLjQtMC4zLDEuOS0wLjhjMi0xLjgsMy45LTMuNCw1LjctNC45YzUuMS00LjMsOS40LTgsMTIuNC0xMS42CgljMy40LTQuMSw0LjktOCw0LjktMTIuMkM0OS45LDEzLjcsNDguNiw5LjksNDYsNy4xeiIvPgo8L3N2Zz4K");
  background-size: contain;
  opacity: 0.4;
}


.result {
  display: flex;
}

.result_item {
  flex-grow: 1;

  &:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    vertical-align: top;
  }

  &:last-child {
    text-align: right;

  }
}

.result_item--love {
  &:before {
    background: center center no-repeat url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0U3NEMzQzt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00Niw3LjFjLTIuNS0yLjgtNi4yLTQuMy0xMC00LjNjLTIuOSwwLTUuNiwwLjktNy45LDIuN2MtMS4xLDAuOS0yLjMsMi0zLjIsMy4zYy0wLjktMS4zLTItMi40LTMuMi0zLjMKCWMtMi4zLTEuOC00LjktMi43LTcuOS0yLjdjLTMuOSwwLTcuNSwxLjUtMTAsNC4zcy0zLjksNi42LTMuOSwxMC42YzAsNC4yLDEuNSw4LjEsNC45LDEyLjJjMywzLjcsNy4zLDcuMywxMi40LDExLjYKCWMxLjgsMS41LDMuNywzLjIsNS43LDQuOWMwLjUsMC41LDEuMywwLjgsMS45LDAuOGMwLjgsMCwxLjQtMC4zLDEuOS0wLjhjMi0xLjgsMy45LTMuNCw1LjctNC45YzUuMS00LjMsOS40LTgsMTIuNC0xMS42CgljMy40LTQuMSw0LjktOCw0LjktMTIuMkM0OS45LDEzLjcsNDguNiw5LjksNDYsNy4xeiIvPgo8L3N2Zz4K");
    background-size: contain;
  }

}

.result_item--js {
  &:before {
    background: center center no-repeat url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzcuM3B4IgoJIGhlaWdodD0iMjYuM3B4IiB2aWV3Qm94PSIwIDAgMzcuMyAyNi4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNy4zIDI2LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjBEQjRGO30KPC9zdHlsZT4KPGRlZnM+CjwvZGVmcz4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzEuMSw2LjljLTAuOS0yLjctNC44LTIuNy01LjUtMC41Yy0wLjcsMi4yLDEuOCwzLjYsNS43LDQuOWMzLjksMS4zLDYuNCw0LjgsNS45LDcuOQoJCWMtMC41LDMuMS0xLjgsNy4xLTkuNSw3LjFjLTQuOSwwLTcuNS0zLTguOS01LjNsNC40LTIuNmMwLDAsMS41LDMuMiw0LjMsMy4yYzIuOCwwLDMuOS0wLjksMy45LTMuMWMwLTIuNi05LjEtMy42LTEwLjUtOAoJCVMyMS40LTAuNCwyOCwwYzQuMSwwLjMsNi40LDIuMyw3LjUsMy44TDMxLjEsNi45eiIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLjgsMC41YzAsMCwwLDE1LjgsMCwxOGMwLDIuMi0xLjksMy4zLTMuNywyLjljLTEuOS0wLjQtMi43LTIuNi0yLjctMi42TDAsMjEuNmMwLDAsMC45LDQuMyw2LjgsNC43CgkJYzUuOSwwLjQsOS4zLTMuMiw5LjMtNi4yczAtMTkuNiwwLTE5LjZMMTAuOCwwLjVMMTAuOCwwLjV6Ii8+CjwvZz4KPC9zdmc+Cg==");
    background-size: contain;

  }
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.play-again-template__form {
  background: rgba(133, 133, 133, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.play-again-template__form__message__winner {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  vertical-align: middle;

  &:before {
    visibility: visible;
    display: inline-block;
    content: "";
    width: 3rem;
    height: 3rem;
  }
}

.play-again-template__form__message__winner--js:before {
  background: center center no-repeat url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzcuM3B4IgoJIGhlaWdodD0iMjYuM3B4IiB2aWV3Qm94PSIwIDAgMzcuMyAyNi4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNy4zIDI2LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjBEQjRGO30KPC9zdHlsZT4KPGRlZnM+CjwvZGVmcz4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzEuMSw2LjljLTAuOS0yLjctNC44LTIuNy01LjUtMC41Yy0wLjcsMi4yLDEuOCwzLjYsNS43LDQuOWMzLjksMS4zLDYuNCw0LjgsNS45LDcuOQoJCWMtMC41LDMuMS0xLjgsNy4xLTkuNSw3LjFjLTQuOSwwLTcuNS0zLTguOS01LjNsNC40LTIuNmMwLDAsMS41LDMuMiw0LjMsMy4yYzIuOCwwLDMuOS0wLjksMy45LTMuMWMwLTIuNi05LjEtMy42LTEwLjUtOAoJCVMyMS40LTAuNCwyOCwwYzQuMSwwLjMsNi40LDIuMyw3LjUsMy44TDMxLjEsNi45eiIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLjgsMC41YzAsMCwwLDE1LjgsMCwxOGMwLDIuMi0xLjksMy4zLTMuNywyLjljLTEuOS0wLjQtMi43LTIuNi0yLjctMi42TDAsMjEuNmMwLDAsMC45LDQuMyw2LjgsNC43CgkJYzUuOSwwLjQsOS4zLTMuMiw5LjMtNi4yczAtMTkuNiwwLTE5LjZMMTAuOCwwLjVMMTAuOCwwLjV6Ii8+CjwvZz4KPC9zdmc+Cg==");
  background-size: contain;
}

.play-again-template__form__message__winner--love:before {
  background: center center no-repeat url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0U3NEMzQzt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00Niw3LjFjLTIuNS0yLjgtNi4yLTQuMy0xMC00LjNjLTIuOSwwLTUuNiwwLjktNy45LDIuN2MtMS4xLDAuOS0yLjMsMi0zLjIsMy4zYy0wLjktMS4zLTItMi40LTMuMi0zLjMKCWMtMi4zLTEuOC00LjktMi43LTcuOS0yLjdjLTMuOSwwLTcuNSwxLjUtMTAsNC4zcy0zLjksNi42LTMuOSwxMC42YzAsNC4yLDEuNSw4LjEsNC45LDEyLjJjMywzLjcsNy4zLDcuMywxMi40LDExLjYKCWMxLjgsMS41LDMuNywzLjIsNS43LDQuOWMwLjUsMC41LDEuMywwLjgsMS45LDAuOGMwLjgsMCwxLjQtMC4zLDEuOS0wLjhjMi0xLjgsMy45LTMuNCw1LjctNC45YzUuMS00LjMsOS40LTgsMTIuNC0xMS42CgljMy40LTQuMSw0LjktOCw0LjktMTIuMkM0OS45LDEzLjcsNDguNiw5LjksNDYsNy4xeiIvPgo8L3N2Zz4K");
  background-size: contain;
}

.play-again-template__form__submit {
  display: block;
}

.btn {
  display: block;
  text-align: center;
  background: white;
  border: none;
  padding: 1rem 2rem;
  font-weight: bold;
}

.timer {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.play-again-template__form__message {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
}

#app.grid .grid__item--js {
  &:before {
    background: center center no-repeat url("data:image/svg+xml;base64,PCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluICAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzcuM3B4IgoJIGhlaWdodD0iMjYuM3B4IiB2aWV3Qm94PSIwIDAgMzcuMyAyNi4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzNy4zIDI2LjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRjBEQjRGO30KPC9zdHlsZT4KPGRlZnM+CjwvZGVmcz4KPGc+Cgk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzEuMSw2LjljLTAuOS0yLjctNC44LTIuNy01LjUtMC41Yy0wLjcsMi4yLDEuOCwzLjYsNS43LDQuOWMzLjksMS4zLDYuNCw0LjgsNS45LDcuOQoJCWMtMC41LDMuMS0xLjgsNy4xLTkuNSw3LjFjLTQuOSwwLTcuNS0zLTguOS01LjNsNC40LTIuNmMwLDAsMS41LDMuMiw0LjMsMy4yYzIuOCwwLDMuOS0wLjksMy45LTMuMWMwLTIuNi05LjEtMy42LTEwLjUtOAoJCVMyMS40LTAuNCwyOCwwYzQuMSwwLjMsNi40LDIuMyw3LjUsMy44TDMxLjEsNi45eiIvPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLjgsMC41YzAsMCwwLDE1LjgsMCwxOGMwLDIuMi0xLjksMy4zLTMuNywyLjljLTEuOS0wLjQtMi43LTIuNi0yLjctMi42TDAsMjEuNmMwLDAsMC45LDQuMyw2LjgsNC43CgkJYzUuOSwwLjQsOS4zLTMuMiw5LjMtNi4yczAtMTkuNiwwLTE5LjZMMTAuOCwwLjVMMTAuOCwwLjV6Ii8+CjwvZz4KPC9zdmc+Cg==");
    background-size: contain;
    opacity: 1;
  }
}

#app.grid .grid__item--love {
  &:before {
    background: center center no-repeat url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNTAgNTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUwIDUwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0U3NEMzQzt9Cjwvc3R5bGU+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00Niw3LjFjLTIuNS0yLjgtNi4yLTQuMy0xMC00LjNjLTIuOSwwLTUuNiwwLjktNy45LDIuN2MtMS4xLDAuOS0yLjMsMi0zLjIsMy4zYy0wLjktMS4zLTItMi40LTMuMi0zLjMKCWMtMi4zLTEuOC00LjktMi43LTcuOS0yLjdjLTMuOSwwLTcuNSwxLjUtMTAsNC4zcy0zLjksNi42LTMuOSwxMC42YzAsNC4yLDEuNSw4LjEsNC45LDEyLjJjMywzLjcsNy4zLDcuMywxMi40LDExLjYKCWMxLjgsMS41LDMuNywzLjIsNS43LDQuOWMwLjUsMC41LDEuMywwLjgsMS45LDAuOGMwLjgsMCwxLjQtMC4zLDEuOS0wLjhjMi0xLjgsMy45LTMuNCw1LjctNC45YzUuMS00LjMsOS40LTgsMTIuNC0xMS42CgljMy40LTQuMSw0LjktOCw0LjktMTIuMkM0OS45LDEzLjcsNDguNiw5LjksNDYsNy4xeiIvPgo8L3N2Zz4K");
    background-size: contain;
    opacity: 1;
  }
}